.top-Banner {
    background-image: url("../../../images/home-bg-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 20px solid #FF5; */
    height: 500px;
}
.logoCard {
    width: 15ch;
    height: 15ch;
    background-image: url("../../../images/sa-logo.png");
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
  }
  
  .logoCard:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  }